/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #e5e9ee;
  overflow: hidden;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: rgb(211, 1, 1);
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0 10px;
}

.active::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: #fff;
  bottom: -2px;
  height: 5px;
  content: '';
  width: 5px;
  left: 50%;
}

.recent-text {
  color: rgb(245, 238, 238);
}
